* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

:root {
    --color-black: #14183E;
    --color-primary: #5E6282;
    --color-red: #DF6951;
    --color-yellow: #F1A501;
    --size-text: 1rem;
    --size-sm-text: .9rem;
    --size-title: 1.4rem;
    --size-sm-title: 1.4rem;

}







body {
    font-size: 16px;
    padding: 0 10px;
    font-family: Arial, Helvetica, sans-serif !important;
    position: relative;
    /* margin: 0 auto !important; */
    /* overflow: hidden; */
}